.game_board {
    margin-top: 16px;
}

.raised_board {
    margin: auto;
    padding: 0;
    box-shadow: 10px 12px 10px rgba(0, 0, 0, 0.15);
    border: rgb(188, 188, 188) solid 1px;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    white-space: nowrap;
}

text {
    pointer-events: none;
}
